*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding: 0px;
  color: #000;
}

h1 {
  font-size: 48px;
  font-weight: 100;
}
.contents1{
  font-size: 20px;
  font-weight: lighter;
}
.contents2{
  font-size: 18px;
  color: black;
}
.contents3 {
  font-size: 14px;
  font-weight: 100;
}
.contents1_bold{
  font-size: 18px;
  font-weight: bold;
}
/* --- */

.result{
  font-size: 24px;
}

.intro_bg{
  background-image: url("https://images4.alphacoders.com/155/155146.jpg");
  width: 100%;
  height: 714px;
}

header{
  width:100%;
  margin:auto;
  display:flex;
  height: 86px;
}
.searchArea{
  position: absolute;
  left: 13%;
  width:300px;
  height:40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top:24px;
}
.searchArea > form > input{
  border:none;
  width:250px;
  height:40px;
  background: rgba(0, 0, 0, 0.0);
  color:#fff;
  padding-left:10px;
}
.searchArea > form > span{
  width:50px;
  color:#fff;
}
.menubar{
  position: absolute;
  top: 0;
  right: 13%;
  display: flex;
  justify-content: flex-end;
  width:400px;
  line-height: 86px;
}
.menubar > li {
  margin-left:84px;
}
.menubar > li > a {
  color: #fff;
}

.weather{
  position: relative;
  top:-66px;
  display: flex;
  width:80%;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.weather > li {
  flex: 1;
  height: 132px;
}
.weather > li > div {
  text-align: center;
  margin-top:37px;
  height:57px;
}

.weather > li:not(:last-child) > div{
  border-right:1px solid #E1E1E1;
}
.intro_text{
  width:100%;
  margin:231px auto 231px auto;
  text-align: center;
}
.intro_text > h1,
.intro_text > h4{
  color:#fff;
}

/* recommended_spots */

.recommended_spots{
  width:100%;
  height:601px;
  margin-top:-132px;
  background: #fff;
}
.recommended_spots > h1{
  padding-top:120px;
  text-align: center;
}
.recommended_spots > .contents1 {
  text-align: center;
}

.icons{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  height: 302px;
  margin:auto;
}
.icons > li {
  flex: 1;
  background: #fff;
  margin-top:49px;
  height:302px;
  text-align: center;
}
.icons > li:not(:last-child){
  margin-right: 20px;
}
li.icon_0 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/27/Haeundae_Beach_20200522_012.jpg");
  background-size: 480px;
}
li.icon_1 {
  background-image: url("https://visitbusan.net/uploadImgs/files/cntnts/20191229160828011_wufrotr");
  background-size: 480px;
}
li.icon_2 {
  background-image: url("https://tongglobalcdn.visitkorea.or.kr/cms/resource/31/2941331_image2_1.bmp");
  background-size: 480px;
}
li.icon_3 {
  background-image: url("https://www.visitbusan.net/uploadImgs/files/cntnts/20191222180842708_wufrotr");
  background-size: 480px;
}
li.icon_4 {
  background-image: url("https://images.squarespace-cdn.com/content/v1/51c8b108e4b050e44c477323/1471439433918-Y9C1Y6NOVZI8XT5RAKBP/JagalchiMarket01.jpg?format=1500w");
  background-size: 480px;
}

.more{
  width:100px;
  height: 30px;
  background: #2F7AF4;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  margin:25px auto;
}

/* map */

#mapArea {
  display: block;
  padding-left: 17%;
  padding-right: 17%;
  background-color: #fff;
  padding-bottom: 44px;
}
#map {
  width: 100%;
  height: 500px;
}

/* attraction-details */

#attraction-details > h1,h2,h4 {
  text-align: center;
}
#attraction-details > p {
  padding-left: 10%;
  padding-right: 10%;
}
#attraction-details > div {
  text-align: center;
  margin-bottom: 30px;
}
#attraction-details > div > img {
  width: 80%;
}

/* main_text1*/

.main_text1{
  width: 100%;
  height: 900px;
}
.main_text1 > h1{
  text-align: center;
}
.main_text1 > .contents1 {
  text-align: center;
}
.about {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  margin: 49px auto;
  height:427px;
}

.about > .contents2 {
  padding: 20px;
  text-align: left;
}
.about > .contents2 > h2 {
  margin-bottom: 27px;
  text-align: left;
}

/*main_text2*/

.main_text2{
  width: 100%;
  height:570px;
}
.main_text2 > h1{
  text-align: center;
}
.main_text2 > .contents1 {
  text-align: center;
}
.contact {
  width:810px;
  display: flex;
  margin: 49px auto;
  height:427px;
}

.contact > .contents2 {
  padding: 20px;
  text-align: left;
}

/*footer*/

footer{
  display: flex;
  background: #1f1f1f;
  padding:30px;
}
footer td {
  color: lightgrey;
}
